@{
    Layout = null;
}
<div class="row">
    <div class="col-md-3" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            <ul class="nav bs-docs-sidenav">
                <li class="">
                    <a href="#" class="current">物流查询</a>
                </li>
                <li class="">
                    <a href="#">物流更新</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9" role="main">
        <h4 id="breadcrumbs" class="page-header">物流查询</h4>
        <form class="form-inline">
            <div class="form-group">
                <p class="form-control-static">物流单号：</p>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="sr-only">物流单号</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="物流单号">
            </div>
            <button type="submit" class="btn btn-default">查询</button>
        </form>
        <ul class="list-unstyled timeline">
            <li>
                <div class="block">
                    
                    <div class="block_content">
                        <h2 class="title">
                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                        </h2>
                        <div class="byline">
                            <span>13 hours ago</span> by <a>Jane Smith</a>
                        </div>
                        <p class="excerpt">
                            Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="block">
                 
                    <div class="block_content">
                        <h2 class="title">
                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                        </h2>
                        <div class="byline">
                            <span>13 hours ago</span> by <a>Jane Smith</a>
                        </div>
                        <p class="excerpt">
                            Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="block">
                  
                    <div class="block_content">
                        <h2 class="title">
                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                        </h2>
                        <div class="byline">
                            <span>13 hours ago</span> by <a>Jane Smith</a>
                        </div>
                        <p class="excerpt">
                            Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>


    </div>
</div>