@{
    Layout = null;
}
<h3 id="对齐链接">资费标准</h3>
<h3>7077物流包税政策说明</h3>
<p>迅达速递邮寄货物所支付的邮费中，都包含一定价值的税，具体额度如下：</p>
<p>1.奶粉：邮费中全额包税，交足108RMB</p>
<p>2.保健品：每件货物包货物价值500RMb以内的税，即最多为客户支付50RMB。超出部分客户需自理</p>

<h3>7077物流包税政策说明</h3>
<p>迅达速递邮寄货物所支付的邮费中，都包含一定价值的税，具体额度如下：</p>
<p>1.奶粉：邮费中全额包税，交足108RMB</p>
<p>2.保健品：每件货物包货物价值500RMb以内的税，即最多为客户支付50RMB。超出部分客户需自理</p>

<h3>7077物流包税政策说明</h3>
<p>迅达速递邮寄货物所支付的邮费中，都包含一定价值的税，具体额度如下：</p>
<p>1.奶粉：邮费中全额包税，交足108RMB</p>
<p>2.保健品：每件货物包货物价值500RMb以内的税，即最多为客户支付50RMB。超出部分客户需自理</p>