@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @* @Html.Action("EditProfile", "User", new { username = User.Identity.Name })*@
    <script>
        var refer = "@ViewBag.refer";
        if (refer === "1") {
            $('#main-page').load("@Url.Action("EditProfile", "User", new { username = User.Identity.Name })");
        } else {
            var url = $('#main-menu li:first>a').attr('href');
            $('#main-page').load(window.location.origin + "/" + url);
        }
    </script>
</div>
