html {
    background: #ebebeb;
}

body {
    color: #333;
    font-size: 14px;
    background: none;
}

h4.page-header {
    margin-top: 0;
}
.complementary nav {
    background-color: #fff;
    padding:30px 20px;
}
.maincontent {
    background-color: #fff;
    padding: 30px 20px;
}
.form-control {
    border-radius: 0;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

label {
    font-weight: 500;
}

.form-control-feedback {
    margin-top: 8px;
    height: 23px;
    color: #bbb;
    line-height: 24px;
    font-size: 15px;
}

    .form-control-feedback.left {
        border-right: 1px solid #ccc;
        left: 13px;
    }

    .form-control-feedback.right {
        border-left: 1px solid #ccc;
        right: 13px;
    }

.form-control.has-feedback-left {
    padding-left: 45px;
}

.form-control.has-feedback-right {
    padding-right: 45px;
}

.form-group {
    margin-bottom: 10px;
}

.validate {
    margin-top: 10px;
}

.invalid-form-error-message {
    margin-top: 10px;
    padding: 5px;
}

    .invalid-form-error-message.filled {
        border-left: 2px solid #E74C3C;
    }

p.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

p.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

ul.parsley-errors-list {
    list-style: none;
    color: #E74C3C;
    padding-left: 0;
}

input.parsley-error, textarea.parsley-error, select.parsley-error {
    background: #FAEDEC;
    border: 1px solid #E85445;
}

.btn-group .parsley-errors-list {
    display: none;
}

.bad input, .bad select, .bad textarea {
    border: 1px solid #CE5454;
    box-shadow: 0 0 4px -2px #CE5454;
    position: relative;
    left: 0;
    -moz-animation: .7s 1 shake linear;
    -webkit-animation: 0.7s 1 shake linear;
}

.item input, .item textarea {
    -webkit-transition: 0.42s;
    -moz-transition: 0.42s;
    transition: 0.42s;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    /* Tighten up space between multiple callouts */
    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}

    .bs-callout-danger h4 {
        color: #ce4844;
    }

.bs-callout-warning {
    border-left-color: #aa6708;
}

    .bs-callout-warning h4 {
        color: #aa6708;
    }

.bs-callout-info {
    border-left-color: #1b809e;
}

    .bs-callout-info h4 {
        color: #1b809e;
    }

/* *********  form wizard  **************************** */

.form_wizard .stepContainer {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 solid #CCC;
    overflow-x: hidden;
}

/**-------**/

.wizard_horizontal ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0 0 20px;
}

    .wizard_horizontal ul.wizard_steps li {
        display: table-cell;
        text-align: center;
    }

        .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
            display: block;
            position: relative;
            -moz-opacity: 1;
            filter: alpha(opacity: 100);
            opacity: 1;
            color: #666;
        }

            .wizard_horizontal ul.wizard_steps li a:before {
                content: "";
                position: absolute;
                height: 4px;
                background: #ccc;
                top: 20px;
                width: 100%;
                z-index: 4;
                left: 0;
            }

            .wizard_horizontal ul.wizard_steps li a.disabled .step_no {
                background: #ccc;
            }

            .wizard_horizontal ul.wizard_steps li a .step_no {
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 100px;
                display: block;
                margin: 0 auto 5px;
                font-size: 16px;
                text-align: center;
                position: relative;
                z-index: 5;
            }

            .wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
                background: #34495E;
                color: #fff;
            }

            .wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
                background: #1ABB9C;
                color: #fff;
            }

        .wizard_horizontal ul.wizard_steps li:first-child a:before {
            left: 50%;
        }

        .wizard_horizontal ul.wizard_steps li:last-child a:before {
            right: 50%;
            width: 50%;
            left: auto;
        }

/**-------**/

.wizard_verticle .stepContainer {
    width: 80%;
    float: left;
    padding: 0 10px;
}

.form_wizard .stepContainer div.content {
    display: block;
    position: absolute;
    float: left;
    margin: 0;
    padding: 5px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #5A5655;
    height: 300px !important;
    text-align: left;
    overflow: auto;
    z-index: 88;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    clear: both;
}

.actionBar {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 10px 5px;
    text-align: right;
    margin-top: 10px;
}

    .actionBar .buttonDisabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .actionBar a {
        margin: 0 3px;
    }

/**-------**/

.wizard_verticle .wizard_content {
    width: 80%;
    float: left;
    padding-left: 20px;
}

.wizard_verticle ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 20%;
    float: left;
    margin: 0 0 20px;
}

    .wizard_verticle ul.wizard_steps li {
        display: list-item;
        text-align: center;
    }

        .wizard_verticle ul.wizard_steps li a {
            height: 80px;
        }

            .wizard_verticle ul.wizard_steps li a:first-child {
                margin-top: 20px;
            }

        .wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
            display: block;
            position: relative;
            -moz-opacity: 1;
            filter: alpha(opacity: 100);
            opacity: 1;
            color: #666;
        }

            .wizard_verticle ul.wizard_steps li a:before {
                content: "";
                position: absolute;
                height: 100%;
                background: #ccc;
                top: 20px;
                width: 4px;
                z-index: 4;
                left: 49%;
            }

            .wizard_verticle ul.wizard_steps li a.disabled .step_no {
                background: #ccc;
            }

            .wizard_verticle ul.wizard_steps li a .step_no {
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 100px;
                display: block;
                margin: 0 auto 5px;
                font-size: 16px;
                text-align: center;
                position: relative;
                z-index: 5;
            }

            .wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
                background: #34495E;
                color: #fff;
            }

            .wizard_verticle ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
                background: #1ABB9C;
                color: #fff;
            }

        .wizard_verticle ul.wizard_steps li:first-child a:before {
            left: 49%;
        }

        .wizard_verticle ul.wizard_steps li:last-child a:before {
            left: 49%;
            left: auto;
            width: 0;
        }

/**-------**/


/* *********  /form wizard  **************************** */


/* header */
/*====================================================
	header
====================================================*/
a {
    color: #505050;
}

.nav > li > a {
    padding: 8px 15px;
    border-left: 2px solid #fff;
    background: none;
}

    .nav > li > a:active, .nav > li > a:hover, .nav > li > a:visited {
        /*color: #505050;*/
        background: none;
    }

    .nav > li > a.current {
        color: #1b809e;
        border-left: 3px solid #1b809e;
        background-color: #eee;
    }

.main-header {
    text-align: left;
    background: #ffffff;
    height: 73px;
    background-image: url('../images/bg.jpg');
}

    .main-header .branding {
        font-size: 3.5em;
        color: #303030;
    }

        .main-header .branding:hover {
            text-decoration: none;
        }

        .main-header .branding img {
            max-width: 100%;
        }

.home-template .main-header {
    padding-top: 62px;
    padding-bottom: 62px;
    background-repeat: no-repeat;
    background-position: center 20%;
    -webkit-background-size: cover;
    background-size: cover;
}
/* main-navigation */
.main-navigation {
    /*text-align: center;*/
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    margin-bottom: 20px;
    border-bottom: 2px solid #e1e1e1;
}

    .main-navigation .menu {
        padding: 0;
        margin: 0;
    }

        .main-navigation .menu li {
            list-style: none;
            display: inline-block;
            position: relative;
        }

            .main-navigation .menu li.nav-current {
                border-bottom: 2px solid #34b1c4;
                margin-bottom: -2px;
            }

            .main-navigation .menu li a {
                color: #505050;
                line-height: 4em;
                display: block;
                padding: 0 21px;
            }

            .main-navigation .menu li:hover > a {
                color: #34b1c4;
                text-decoration: none;
            }

            .main-navigation .menu li ul {
                visibility: hidden;
                background: #ffffff;
                text-align: left;
                padding: 7px 0px;
                margin: 0;
                position: absolute;
                left: 0;
                top: 120%;
                width: 200px;
                z-index: 999;
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

                .main-navigation .menu li ul li {
                    display: block;
                    margin: 0;
                }

                    .main-navigation .menu li ul li a {
                        line-height: 2.5em;
                        color: #505050;
                    }

                .main-navigation .menu li ul:hover > a {
                    color: #34b1c4;
                }

            .main-navigation .menu li:hover ul {
                visibility: visible;
                opacity: 1;
                filter: alpha(opacity=100);
                top: 100%;
            }

@media (max-width: 767px) {
    .main-navigation {
        text-align: left;
    }

        .main-navigation .menu li {
            display: block;
        }

            .main-navigation .menu li:hover > a {
                color: #34b1c4;
                text-decoration: none;
            }

            .main-navigation .menu li ul {
                visibility: visible;
                padding: 0px 0px 0px 20px;
                margin: 0;
                position: relative;
                top: 0;
                width: 100%;
                opacity: 1;
                filter: alpha(opacity=100);
            }
}
/* navbar */
.navbar-header {
    text-align: center;
}

    .navbar-header i {
        height: 56px;
        line-height: 56px;
        font-size: 2em;
        cursor: pointer;
    }

@media (min-width: 768px) {
    .nav-toggle-button {
        display: none;
    }
}

.navbar-nav > li > a {
    color: #fff0f5;
    border: none;
    background: none;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 0;
}

    .navbar-nav > li > a:hover, .navbar-nav > li > a:active {
        color: #fff;
        border: none;
        background: none;
    }

.menu > li > a, .menu > li > a:visited {
    text-decoration: none;
}

.a-username {
    padding-right: 5px;
    border-right: 1px solid #fff0f5;
}

.userlogin > li > a {
    color: #fff0f5;
}

    .userlogin > li > a:hover {
        color: #fff;
    }

.copyright {
    background: #fff;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #eee;
    margin-top: 50px;
}

    .copyright span {
        margin: 0 .5em;
    }

    .copyright a {
        color: #555555;
    }
/* *********  timeline  **************************** */

ul.timeline li {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    clear: both;
}

.timeline .block {
    margin: 0;
    border-left: 3px solid #e8e8e8;
    overflow: visible;
    padding: 10px 15px;
    margin-left: 40px;
}

.timeline.widget {
    min-width: 0;
    max-width: inherit;
}

    .timeline.widget .block {
        margin-left: 5px;
    }

.timeline .tags {
    position: absolute;
    top: 15px;
    left: 0;
    width: 84px;
}

.timeline .tag {
    display: block;
    height: 30px;
    font-size: 13px;
    padding: 8px;
}

    .timeline .tag span {
        display: block;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.tag {
    line-height: 1;
    background: #1ABB9C;
    color: #fff !important;
}

    .tag:after {
        content: " ";
        height: 30px;
        width: 0;
        position: absolute;
        left: 100%;
        top: 0;
        margin: 0;
        pointer-events: none;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 11px solid #1ABB9C;
    }

.timeline h2.title {
    position: relative;
    font-size: 16px;
    margin: 0;
}

.timeline h2.last {
    color: #1ABB9C;
}

.timeline h2.title:before {
    content: "";
    position: absolute;
    left: -23px;
    top: 3px;
    display: block;
    width: 14px;
    height: 14px;
    border: 3px solid #d2d3d2;
    border-radius: 14px;
    background: #f9f9f9;
}

.timeline h2.last:before {
    background: #1ABB9C;
    border-color: #1ABB9C;
}

.timeline .byline {
    padding: .25em 0;
}

.byline {
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-size: .9375em;
    line-height: 1.3;
    color: #aab6aa;
}

ul.social li {
    border: 0;
}

/* *********  /timeline  **************************** */
