
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestSearch</title>
</head>
<body>
<div>
    <form method="POST">
        <input type="text" name="single"/>
        <input type="submit" value="查询"/>
    </form>
    <a href="https://m.kuaidi100.com/" target="_blank">快递查询</a>
</div>
</body>
</html>
