
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background-color: white;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>密码找回</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
            <h4>密码找回</h4>
            <p>请先确认您的用户名，您的密码将以邮件的方式发送到您注册时用的邮箱，请注意查收你的邮件，谢谢您的使用。</p>
        </div>
        <div class="alert alert-success" role="alert" id="successmsg" style="display: none;">
            <strong>发送成功!</strong>
        </div>
        <div class="alert alert-danger" role="alert" id="errormsg" style="display: none;">
            <strong>错误!</strong><span></span>
        </div>
        <div class="bs-example bs-example-form" data-example-id="input-group-segmented-buttons">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success">发 送</button>
                        </div>
                    </div><!-- /.input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>
    </div>
    <script>
        $(function () {
            $('.btn').click(function (e) {
                var user = $('input[type=text]').val();
                if (user === '' || user === null) {
                    $('#errormsg').show();
                    $('#errormsg span').html('用户名不能为空');
                    setTimeout(function () {
                        $('#errormsg').hide();
                    },
                        5000);
                } else {
                    $.post('@Url.Action("Index")', { username: user }, function (e) {
                        if (e === '已经成功将新的密码发送到你的邮箱，请注意查收。') {
                            $('#errormsg').hide();
                            $('#successmsg').show();
                            setTimeout(function () {
                                window.location.href = '/';
                            },
                       5000);
                        } else {
                            $('#errormsg').show();
                            $('#errormsg span').html(e);
                            $('#successmsg').hide();
                            setTimeout(function () {
                                $('#errormsg').hide();
                            },
                       5000);
                        }
                    });
                }
            })
        })
    </script>
</body>
</html>
