<dal name="MarketingCenter">
  <databaseSets>
    <databaseSet name="MarketingCenterDB" provider="sqlProvider">
      <add name="MarketingCenterDB" databaseType="Master" sharding="" connectionString="MarketingCenterDB"/>
    </databaseSet>
    <databaseSet name="CentralGatewayGlobalDB" provider="sqlProvider">
      <add name="CentralGatewayGlobalDB" databaseType="Master" sharding="" connectionString="CentralGatewayGlobalDB"/>
    </databaseSet>
    <databaseSet name="ETTACCMDB" provider="sqlProvider">
      <add name="ETTACCMDB" databaseType="Master" sharding="" connectionString="ETTACCMDB"/>
    </databaseSet>
    <databaseSet name="htinnscrm" provider="sqlProvider">
      <add name="htinnscrm" databaseType="Master" sharding="" connectionString="htinnscrm"/>
    </databaseSet>
  </databaseSets>

  <databaseProviders>
    <add name="sqlProvider" type="Arch.Data.DbEngine.Providers.SqlDatabaseProvider,Arch.Data"/>
    <!--如果只用Sql Server,请注释掉下面这行，否则可能有运行时错误-->
    <!--<add name="mySqlProvider" type="Arch.Data.MySqlProvider.MySqlDatabaseProvider,Arch.Data.MySqlProvider"/>-->
  </databaseProviders>
  <connectionLocator path="E:\work\Projects\HHub.MarketingCenterApp\Hhub.MarketingCenter.WebApp\Config\database.config" />
</dal>