<dal name="MarketingCenter">
  <databaseSets>
    <databaseSet name="DefaultConStr" provider="sqlProvider">
      <add name="DefaultConStr" databaseType="Master" sharding="" connectionString="DefaultConStr"/>
    </databaseSet>
  </databaseSets>

  <databaseProviders>
    <add name="sqlProvider" type="Arch.Data.DbEngine.Providers.SqlDatabaseProvider,Arch.Data"/>
    <!--如果只用Sql Server,请注释掉下面这行，否则可能有运行时错误-->
    <!--<add name="mySqlProvider" type="Arch.Data.MySqlProvider.MySqlDatabaseProvider,Arch.Data.MySqlProvider"/>-->
  </databaseProviders>
  <connectionLocator path="C:\work\Projects\7077物流管理系统\LogisticsSys\Sys.WebUI\DbConfig\database.config" />
  <!--<connectionLocator path="E:\work\Projects\7707\7077.LogisticsSys\LogisticsSys\Sys.WebUI\DbConfig\database.config" />-->
</dal>