<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConStr" connectionString="Data Source=xds655050331.my3w.com;Initial Catalog=xds655050331_db;User ID=xds655050331;Password=xds655050331rugoA;Connect Timeout=20000" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConStr" connectionString="Data Source=hds273336480.my3w.com;Initial Catalog=hds273336480_db;User ID=hds273336480;Password=lexiya7077A;Connect Timeout=20000" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>