<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConStr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=7077SysDB;Integrated Security=True;Connect Timeout=900" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConStr" connectionString="Data Source=DESKTOP-0RCGAKA\SQLEXPRESS;Initial Catalog=7077SysDB1;Integrated Security=True;Connect Timeout=900" providerName="System.Data.SqlClient"/>
    <!--<add name="MarketingCenterDB" connectionString="Server=10.1.249.76;Port=1433;UID=tester;password=123321a;database=Test"  providerName="System.Data.SqlClient"/>-->
    <add name="MarketingCenterDB" connectionString="Data Source=10.1.249.76;Initial Catalog=MarketingCenterDB;User ID=tester;Password=123321a;Connect Timeout=20000" providerName="System.Data.SqlClient" />
    <add name="CentralGatewayGlobalDB" connectionString="Data Source=10.1.249.76;Initial Catalog=CentralGatewayGlobal;User ID=tester;Password=123321a;Connect Timeout=20000" providerName="System.Data.SqlClient" />
    <add name="ETTACCMDB" connectionString="Data Source=10.1.153.52;Initial Catalog=accm_db;User ID=sa;Password=AccmTest@2009;Connect Timeout=20000" providerName="System.Data.SqlClient" />
    <add name="htinnscrm" connectionString="Data Source=10.1.249.211;Initial Catalog=htinnscrm;User ID=newcrmdev;Password=12345678;Connect Timeout=20000" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>