<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConStr" connectionString="Data Source=hds273336480.my3w.com;Initial Catalog=hds273336480_db;User ID=hds273336480;Password=hds273336480rugoA;Connect Timeout=20000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>